{% if DISQUS_SITENAME %}
<p>
  {% if article.disqus_identifier %}
  <a data-disqus-identifier="{{ article.disqus_identifier }}" href="{{ SITEURL }}/{{ article.url }}#disqus_thread">commentaires</a>
  {% else %}
  <a data-disqus-identifier="/{{ article.url }}" href="{{ SITEURL }}/{{ article.url }}#disqus_thread">commentaires</a>
  {% endif %}
</p>
{% endif %}
